body {
  background-color: hsl(0, 0%, 10%);
}
.todo-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1 {
  font-size: 4rem;
  color: white;
}
button {
  font-size: 1.7rem;
  font-weight: bold;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-btn {
  background-color: hsl(125, 47%, 53%);
}
.add-btn:hover {
  background-color: hsl(125, 47%, 43%);
}
.del-btn {
  background-color: hsl(9, 89%, 45%);
}
.del-btn:hover {
  background-color: hsl(9, 89%, 35%);
}
.move-btn {
  background-color: hsl(209, 73%, 50%);
}
.move-btn:hover {
  background-color: hsl(209, 73%, 40%);
}
input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid rgba(10, 10, 6, 0.274);
  border-radius: 5px;
  color: black;
  outline: none;
}
@media (max-width: 767px) {
  input[type="text"] {
    width: 80%;
  }
  .add-btn {
    width: 20%;
  }
}
ol {
  padding: 0;
}
li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgba(209, 202, 191, 0.39);
  margin-bottom: 10px;
  border: 2px solid #bdb2b27a;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text {
  flex: 1;
}

.del-btn,
.move-btn {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}
